<mat-dialog-actions>
  <button mat-icon-button (click)="onCancel()" matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>

<mat-dialog-content>
  <h2 mat-dialog-title>{{ header }}</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Task Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="taskForm.get('name')?.invalid"
          >Task Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error *ngIf="taskForm.get('description')?.invalid"
          >Description is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Due Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dueDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="button-container">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="taskForm.invalid"
        >
          {{ header }}
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
